.profile{
    margin: 5% auto;
    padding: 1% 0; 
    // border: 1px solid gray; 
    border-radius: 15px; 
    width: 80%; 

    display: flex; 
    justify-content: center;

    input{
        margin: 3% auto; 

    }
    button{
        margin: 1%;
    }
}